{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_inner %}
    {% set visRecommendSimilarSlider = config('VisRecommendSimilarProducts.config.cross') %}
    {% set visSliderPositionTop = config('VisRecommendSimilarProducts.config.sliderPosition') %}
    {% set visSlider = [] %}

    {{ parent() }}
{% endblock %}

{% block page_product_detail_tabs %}
    {% if visSliderPositionTop %}
        {% block page_product_detail_similar_slider_top %}
            {% for item in page.crossSellings %}
                {% if item.crossSelling.translated.name == visRecommendSimilarSlider %}
                    {% set visSlider = visSlider|merge([item]) %}
                {% endif %}
            {% endfor %}

            {% if visSlider|length > 0 %}
                <div class="product-detail-cross-selling position-top mb-5">
                    {% sw_include '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' with {
                        crossSellings: visSlider
                    } %}
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_product_detail_cross_selling %}
    {% if visSliderPositionTop %}
        {% block page_product_detail_similar_slider_bottom %}
            {% for item in page.crossSellings %}
                {% if item.crossselling.translated.name != visRecommendSimilarSlider %}
                    {% set visSlider = visSlider|merge([item]) %}
                {% endif %}
            {% endfor %}

            {% if visSlider|length > 0 %}
                <div class="product-detail-cross-selling">
                    {% sw_include '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' with {
                        crossSellings: visSlider
                    } %}
                </div>
            {% endif %}
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}